.navbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    font-size: .8em;
    background: black;
    color: white;
    position: fixed;
}
.navbar > * {
    text-align: center;
    padding: 10px 0;
    border: 1px solid black;
}