.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background:#333333;
    color: #F5F5F5;
    z-index: 3;
    box-shadow: 2px 0 4px #333333, -2px 0 4px #333333;
}

.navbar a:hover {
    background:#474747;
}

.navbar-pages, .navbar-contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.navbar a {
    padding: .5em;
}


.navbar-contact {
    font-size: 1.2em;
}

.navbar-pages {
    font-size: 1em;
}