.skills {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr 1fr;
    max-width: 650px;
    margin: 0 auto;
}
.skills-tools h3, .skills-other h3{
    text-align: center;
}
.skills-list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1em;
    margin: 0 auto;
}
@media only screen and (min-width: 400px) {
    .skills-list {
        padding: 0 2em;
    }
}
@media only screen and (min-width: 500px) {
    .skills {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
    }
    .skills .section-header {
        grid-column: 1/-1;
    }
}


